<div
    style="font-family: Arial, sans-serif; text-align: center; border: 1px solid #ddd; padding: 20px; max-width: 600px; margin: auto;">
    <img src="https://www.obana.africa/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fobana.africa.6c072a90.png&w=1920&q=75"
        alt="Obana Office Logo" style="width: 100px; margin-bottom: 20px;" />
    <p style="font-size: 18px; color: #555;">Order Submitted – Order: {{orderNumber}}</p>
    <p style="font-size: 18px; color: #555;">Hello {{user}},</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&spades;Thank you for placing your order on Obana Africa! We've received your order and it's currently awaiting payment.</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E; Order Details:</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E;Order Number: {{orderNumber}}</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E;Order Date: {{date}}</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E;Order Total: {{total}}</p>
    <br>
    <p style="font-size: 16px; text-align: left; color: #555;">&spades; To avoid delays, please complete your payment as soon as possible.</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&spades; If you need help or prefer to speak with your sales rep, feel free to reach out.</p>
    <p style="font-size: 16px; text-align: left; color: #555;">&#x261E; Thanks for choosing Obana Africa!</p>
  <br>
    <p style="font-size: 12px; color: #999;">Warm regards,</p>
    <p style="font-size: 12px; color: #999;">The Obana Africa Team</p>
    <p style="font-size: 8px; text-align: left; color: #999;">SLA Notes: <br>
      Fashion (Shoes, Apparel & Accessories): Returns within 1–5 days of fulfillment. <br>
      Beauty Products: Returns within 24 hrs of fulfillment. <br>
      Bundles: Sizes run may vary (mixed). <br>
      Currency & Invoicing: Local currency shown in this mail; USD invoice sent via WhatsApp.</p>
    <p style="font-size: 12px; color: #999;"><a href="https://www.obana.africa" style="color: #007BFF;">www.obana.africa</a></p>
</div>