<div
    style="font-family: Arial, sans-serif;  border: 1px solid #ddd; padding: 10px; max-width: 600px; margin: auto;">

    <div style="font-family: Arial, sans-serif; text-align: center; padding: 10px; max-width: 600px; margin: auto;">
    <img src="https://www.obana.africa/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fobana.africa.6c072a90.png&w=1920&q=75" 
        alt="Obana Office Logo" style="width: 100px; text-align: center;  margin-bottom: 10px;" />
    </div>
    <h1 style="font-size: 18px; color: #555;">Hello Admin,</h1>
    <h2 style="font-size: 16px; color: #555; margin-bottom: 30px;">A new payout request has been submitted.</h2>

    <p style="font-size: 16px; color: #555;">Salesperson Name: {{user}}</p>
    <p style="font-size: 16px; color: #555;">Salesperson ID: {{agent_id}}</p>
    <p style="font-size: 16px; color: #555;">Requested Amount: {{currency}}{{amount}}</p>
    <p style="font-size: 16px; color: #555;">Account Numbers: {{acount}}</p>
    <p style="font-size: 16px; color: #555;">Bank Name: {{bank}}</p>
    <p style="font-size: 16px; color: #555;  margin-bottom: 30px;">Date: {{date}}</p>

    <p style="font-size: 14px; color: #555;">Kindly review and process accordingly.</p>
    <p style="font-size: 14px; color: #555;">Thank you.</p>
    <hr style="border: none; border-top: 1px solid #ddd; margin: 20px 0;" />
    <p style="font-size: 12px; color: #999;">To learn more about obana.africa, click here. <a
            href="https://www.obana.africa/about" style="color: #007BFF;">info.obana</a></p>
</div>


